{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="homeContainer">
        <section class="home-description">
                <h2>Bienvene {{app.user}}</h2>
                <h3>PertFinder Application</h3>
                <h5 class ="grandP">Le PERT, ou Program Evaluation and Review Technique 
                <a style="color: blue; text-decoration: none; " 
                 href="">En savoir plus</a>
                </h5>
        </section>
        <div class="row">
            <div class="col-6">
                <img src="{{ asset('img/pert.gif') }}" alt="pert" class="left-photo">
                <p class="petitP">Découvrez la puissance des diagrammes PERT avec PertFinder</p>
                <form action="{{ path('create_project') }}" method="post">
                    <button type="submit" class="btn">Créer un Projet</button>
                </form>
            </div>
            <div class="col-6">
                <img src="{{ asset('img/pert-right.jpg') }}" alt="pert" class="right-photo">
                <p class="petitP">Charger et discuter des projets créés par d'autres utilisateurs</p>
                <form action="{{ path('app_project') }}" method="post">
                    <button type="submit" class="btn">Allons-y !</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="image-grid">
                {% for imgInfo in imgData %}
                    <div class="responsive-img-grid">
                        <div class="gallery">
                            <h3 class="desc">{{ imgInfo.diagramTitle }}</h3>
                            <a href="{{ path('show_project', {'id': imgInfo.projectId}) }}">
                            <img src="{{ asset('charts/' ~ imgInfo.imgName ~ '.png') }}" alt="{{ imgInfo.diagramTitle }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}
    
