{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="form-group">
            
                <h2>Inscription</h2>
        
                {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-input'} }) }}

                {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-input'} }) }}

                {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-input'} }) }}

                {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-input'} }) }}
                <div class="agree-terms">
                    <a href="{{path('app_conditions')}}">{{ form_row(registrationForm.agreeTerms) }} </a>
                </div>
                <button type="submit" class="btn">S'inscrire</button>

        </div>
    {{ form_end(registrationForm) }}
        <div class="col-12">
            <p class="compte"> Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
        </div>
{% endblock %}
