{% extends 'base.html.twig' %}

{% block title %}Hello DiagramController!{% endblock %}

{% block body %}
    
    <h1>Tasks by Level</h1>

    {% for level, tasks in tasksByLevel %}
        <h2>Level {{ level }}</h2>
        <ul>
            {% for task in tasks %}
                <li>
                    Task Name: {{ task.name | default('No Name') }}<br>
                    Task Duration: {{ task.duree }}<br>
                    {% if task.dependentTasks | length > 0 %}
                        
                    les predecesseurs :
                    {% for pre in task.dependentTasks %}
                         {{pre.name}}
                        
                    {% endfor %}
                    {% else %}
                        pas de predecesseurs

                    {% endif %}
                    <!-- Add other task properties as needed -->
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>Diagram ID: {{ diagramId }}</p>

    <a href="{{ path('draw_graph', {'diagramId': diagramId}) }}">Créer le Diagram</a>
{% endblock %}
