{% extends 'base.html.twig' %}

{% block title %}Hello DiagramController!{% endblock %}

{% block body %}
    
    <div class="row-dates">
        <div class="col-12">
            <h1>Tasks by Level</h1>
            <table class="dates" border="1">
                <tr>
                    <th>Task</th>
                    <th>ES</th>
                    <th>EF</th>
                    <th>LS</th>
                    <th>LF</th>
                    <th>ML</th>
                    <th>MT</th>
                </tr>
                {% for task in tasksByLevel|default([]) %}
                    {% for t in task %}
                        <tr>
                            <td class="task-name">{{ t.name }}</td>
                            <td>{{ ES[t.id]|default('N/A') }}</td>
                            <td>{{ EF[t.id]|default('N/A') }}</td>
                            <td>{{ LS[t.id]|default('N/A') }}</td>
                            <td>{{ LF[t.id]|default('N/A') }}</td>
                            <td>{{ ML[t.id]|default('N/A') }}</td>
                            <td>{{ MT[t.id]|default('N/A') }}</td>

                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <a class="btn btn-primary" href="{{ path('draw_graph', {'diagramId': diagramId}) }}">Créer le Diagram</a>
        </div>
        <div class="vocab col-12">
            <h1>Vocabulaire</h1>
            <table class="dates wider-table" border="1">
                <tr>
                    <th>Terme</th>
                    <th>Signification</th>
                </tr>
                <tr>
                    <td>ES</td>
                    <td>Early Start, Début Plustôt</td>
                </tr>
                <tr>
                    <td>EF</td>
                    <td>Early Finish, Fin Plustôt</td>
                </tr>
                <tr>
                    <td>LS</td>
                    <td>Late Start, Début Plustrad</td>
                </tr>
                <tr>
                    <td>LF</td>
                    <td>Late Finish, Fin Plustard</td>
                </tr>
                <tr>
                    <td>ML</td>
                    <td>Marge Libre, Margin Libre</td>
                </tr>
                <tr>
                    <td>MT</td>
                    <td>Marge Totale, Margin Totale</td>
                </tr>
            </table>
        </div>
    </div>




{% endblock %}
