{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    
    <div class="user-row">
        <div class="user-info-panel col-12">
            <h1>Bienvenu dans le Panneau de contrôle</h1>
            <div class="col-6">
                <h3>Liste Utilisateurs</h3>
                <table class="task-table">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{path('info_user', {'id':user.id})}}">{{ user.username }}</a></td>
                            <td>{{ user.roles[0] }}</td>
                            <td><a href="{{path('promote_user', {'userId': user.id})}}">(+)</i></a>
                                <a href="{{path('demote_user', {'userId': user.id})}}"> (-)</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
