{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    
    <div class="admin-row">
        <div class="admin-info-panel col-12">
            <h1>Bienvenu dans le Panneau de contrôle</h1>
            <div class="col-6">
                <h3>Liste Utilisateurs</h3>
                <table class="admin-task-table">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Demande Suppression</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {% if user.isDeleted %}
                                    <a style="color:red;" href="{{path('see_user', {'id':user.id})}}">utilisateur supprimé</a>
                                {% else %}
                                    <a href="{{path('see_user', {'id':user.id})}}">{{ user.username }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.isDeleted %}
                                    Supprimé
                                {% else %}
                                    {% for role in user.roles %}
                                            {{ role }}
                                            {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if user.isDeleted %}
                                     - - -
                                {% elseif user.requestDelete %}
                                    <p style="color:red;">Oui<p>
                                {% else %}
                                    <p style="color:green;">Non<p>
                                {% endif %}
                            </td>
                            <td>
                            {% if "ROLE_SUPER_ADMIN" not in user.roles  %}
                            {% if not user.isDeleted %}
                                <a href="{{path('admin_edit_user', {'id':user.id})}}"><button class="btn btn-primary">Modifier</button></a>
                            {% endif %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="alert-messages col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
        </div>
            </div>
        </div>
        
    </div>
    <div id="deleteRequestCountElement" data-delete-request-count="{{ requestCount }}"></div>

{% endblock %}
