{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="admin-row">
        <div class="admin-info-panel col-12">
        <h1>Bienvenue dans le Panneau de contrôle</h1>
        <div class="content-main">
            <div class="card-grid">
                {% for user in users %}
                    <article class="card">
                        <div class="card-header">
                            <div>
                                {% if user.isDeleted %}
                                    <span><img src="{{ asset('img/deleted.jpg') }}" alt="user" class="user-img"></span>
                                {% elseif not user.imgName %}
                                    <span><img src="{{ asset('charts/default.png') }}" alt="user" class="user-img"></span>
                                {% else %}
                                    <span><img src="{{ asset(user.imgName) }}" alt="user" class="user-img"></span>
                                {% endif %}
                            </div>
                            {% if user.isRequestDelete %}
                                <div class="delete-flag delete-flag-red delete-flag-green"></div>
                            {% elseif  not user.isDeleted %}
                                <div class="delete-flag delete-flag-green"></div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if user.isDeleted %}
                                    <h3 class="deleted-users"><a href="{{path('see_user', {'id':user.id})}}">Utilisateur Supprimé</a></h3>
                            {% elseif not user.isDeleted %}
                                <h3><a href="{{path('see_user', {'id':user.id})}}">{{ user.username }}</a></h3>
                                <p>Liste des rôles :</p>
                                <ul>
                                    {% for role in user.roles %}
                                        <li>{{ role }}</li>
                                    {% endfor %}
                                </ul>
                                <p>Demande de suppression : {% if user.requestDelete %}<span style="color: red;">Oui</span>{% else %}<span style="color: green;">Non</span>{% endif %}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            {% if "ROLE_SUPER_ADMIN"  in user.roles %}
                                <p>Super Admin</p>
                            {% elseif "ROLE_SUPER_ADMIN" not in user.roles and not user.isDeleted %}
                                <a href="{{ path('admin_edit_user', {'id': user.id}) }}"><button class="btn-admin">Modifier</button></a>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    <div id="deleteRequestCountElement" data-delete-request-count="{{ requestCount }}"></div>

{% endblock %}
