{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<div class="task-form-container">
    <div class="task-form">
        <div style="color:red;">{{form_errors(formTask)}}<div>
        {{form_start(formTask)}}
            <h2> Ajoutez des tâches </h2>
            <div class="col-6">
                <div class="form-row">
                    {{form_label(formTask.name)}}
                    {{form_widget(formTask.name)}}
                </div>
                <div class="form-row">
                    {{form_label(formTask.optTime)}}
                    {{form_widget(formTask.optTime)}}
                    
                </div>
            </div>
            <div class="col-6">
                <div class="form-row">
                    {{form_label(formTask.pesTime)}}
                    {{form_widget(formTask.pesTime)}}
                </div>
                <div class="form-row">
                    {{form_label(formTask.mosTime)}}
                    {{form_widget(formTask.mosTime)}}
                </div>
            </div>
            <p> tous les temps sont en jours </p>
            <p>{{form_errors(formTask.name)}}
                    {{form_errors(formTask.optTime)}}
                    {{form_errors(formTask.pesTime)}}
                    {{form_errors(formTask.mosTime)}}
                </p>
            
            <div class="col-12">
                <button type="submit" class="btn">
                Modifier
                </button>
            </div>
        {{form_end(formTask)}}
    </div>
</div>

            

{% endblock %}
