{% extends 'base.html.twig' %}

{% block title %}PertFinder - Task Controller{% endblock %}

{% block metadata %}
    <meta name="description" content="Manage tasks for {{ diagram.title }} in PertFinder application. 
    Add, edit, and view task details.">
    <meta name="keywords" content="PertFinder, task management, project management, {{ diagram.title }}, 
    task dependencies">
{% endblock %}

{% block body %}
{% set sommeDuree = 0 %}
{% set sommeVariance = 0 %}
    <header class="task-header">
        <h1> <span>Diagramme :</span> {{diagram.title}} ->
        <span>Projet :
        <a href="{{path('show_project', {'id': diagram.project.id})}}">
         {{diagram.project.title}}</a>
         </span>
        </h1>
    </header>
<div class="task-form-container">
    <div class="task-form">
        <div style="color:red;">{{form_errors(formTask)}}</div>
        {{form_start(formTask)}}
            <h2> Ajoutez des tâches </h2>
            <div class="col-6">
                <div class="form-row">
                    {{form_label(formTask.name)}}
                    {{form_widget(formTask.name)}}
                </div>
                <div class="form-row">
                    {{form_label(formTask.optTime)}}
                    {{form_widget(formTask.optTime)}}
                    
                </div>
            </div>
            <div class="col-6">
                <div class="form-row">
                    {{form_label(formTask.pesTime)}}
                    {{form_widget(formTask.pesTime)}}
                </div>
                <div class="form-row">
                    {{form_label(formTask.mosTime)}}
                    {{form_widget(formTask.mosTime)}}
                </div>
            </div>
            <p> tous les temps sont en jours </p>
            <p>{{form_errors(formTask.name)}}
                    {{form_errors(formTask.optTime)}}
                    {{form_errors(formTask.pesTime)}}
                    {{form_errors(formTask.mosTime)}}
                </p>
            
            
            <div class="col-12">
                <button type="submit" class="btn">
                Créer
                </button>
            </div>
        {{form_end(formTask)}}
    </div>
            
</div>
            
            <div class="task-list col-12">
                {% if tasks | length == 0 %}
                    <h2 style="margin-bottom:15px;"> Aucune tâche n'a été ajoutée </h2>
                {% else %}
                    <h2> Liste des tâches </h2>
                <div class="table-scroll">
                    <table class="task-table">
                        <thead>
                            <tr>
                                <th colspan="6">Les Données</th>
                            </tr>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Temps optimiste</th>
                                <th scope="col">Temps probable</th>
                                <th scope="col">Temps pessimiste</th>
                                <th scope="col">Ajoute Dépendance</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{task.name}}</td>
                                    <td>{{task.optTime}}</td>
                                    <td>{{task.pesTime}}</td>
                                    <td>{{task.mosTime}}</td>
                                    <td>
                                        <form action="{{path('add_dep', {'taskId': task.id})}}" method="post">
                                            <select id="dependent_task" name="dependent_task">
                                            {% set filteredTasks = tasks|filter(dependentTask => dependentTask.id != task.id) %}
                                            {% for dependentTask in filteredTasks %}
                                                <option value="{{ dependentTask.id }}">{{ dependentTask.name }}</option>
                                            {% endfor %}
                                            </select>

                                            <button class="petit-btn" type="submit">Add Dependency</button>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{{path('edit_task',{'id': task.id, 'chartId': task.pertChart.id })}}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                                        <a href="{{path('delete_task', {'taskId': task.id, 'taskId': task.id})}}"><img class="delete-bin" src="{{ asset('img/delete-bin.svg') }}"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th  colspan="6">{{tasks|length}}
                                    {% if tasks|length > 1 %}
                                        tâches ont été ajoutées
                                    {% else %}
                                        tâche a été ajoutée
                                    {% endif %}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="task-list col-12">
                <div class="table-scroll">
                    <div class="col-6">
                        <table class="task-table">
                            <thead>
                                <tr>
                                    <th>La Tâche</th>
                                    <th> Les Successeurs </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td>{{task.name}}</td>
                                        <td>
                                            {% if task.dependentTasks | length == 0 %}
                                                Aucun Successeur
                                            {% else %}
                                            {% for successor in task.dependentTasks %}
                                                {{successor.name}}
                                                <a href="{{path('delete_dep', {'taskId': task.id, 'depTaskId': successor.id})}}">
                                                <img class="delete-bin" src="{{ asset('img/delete-bin.svg') }}"></a>
                                            {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="2"> Dépendance</th>
                                <tr>
                            </tbody>
                        </table>
                    
                    </div>
                    <div class="col-6">
                    
                        <table class="task-table">
                            <thead>
                                <tr>
                                    <th>La Tâche</th>
                                    <th>La Durée </th>
                                    <th>La Variance </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    {% set sommeDuree = sommeDuree + task.duree %}
                                    {% set sommeVariance = sommeVariance + task.variance %}
                                    <tr>
                                        <td>{{task.name}}</td>
                                        <td>
                                            {{task.duree}}
                                        </td>
                                        <td>
                                            {{task.variance}}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th> Somme </th>
                                    <th> {{sommeDuree}} </th>
                                    <th> {{sommeVariance}} </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% endif %}
            {% if tasks | length > 0 %}
                
            <div class="col-12" style="margin-top:10px;margin-bottom:15px;">
                <a href="{{path('task_edge', {'diagramId': tasks[0].pertChart.id})}}" class="btn btn-primary">Les dépendances</a>
                <a class="btn btn-primary" href="{{ path('draw_graph', {'diagramId': tasks[0].pertChart.id}) }}">Créer le Diagram</a>
            </div>
            {% endif %}

{% endblock %}
