{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}
    
<section class="contact-us">
    <div class="contact-container">
        <div class="contact-form">
            <h3>Formulaire de contact</h3>
            {{ form_start(form) }}
            <div>
                <label for="{{ form.email.vars.id }}">Email</label>
                {{ form_widget(form.email) }}
            </div>
            <div>
                <label for="{{ form.sujet.vars.id }}">Sujet</label>
                {{ form_widget(form.sujet) }}
            </div>
            <div>
                <label for="{{ form.contenu.vars.id }}">Contenu</label>
                {{ form_widget(form.contenu) }}
            </div>
            
                {{ form_end(form) }}
        </div>
        <aside class="contact-info">
            <h3>Informations de contact</h3>
            <p>Vous pouvez nous contacter par téléphone ou par mail</p>
            <ul>
                <li> 07 00 00 00 00</li>
                <li><a href="mailto:admin@pertfinder.com">admin@pertfinder.com</a></li>
            </ul>
            <div>
                <a href="{{path('user_messages')}}">Historique de messages</a>
            </div>
        </aside>
   
    </div>
    
</section>



{% endblock %}

