<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/agencement.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        
            <header>
                <div class="topnav" id="myNavBar">
                        <nav>
                            <ul>
                                <img class="logo" src="{{ asset('img/logo.svg') }}" alt="logo">
                                {# check if the route is the current page, add a class to highlight it #}
                                {% if (app.user) %}  
                                    <li class={% if app.request.attributes.get('_route') == 'app_logout' %} "activated" {% else %}""{% endif %}><a href="{{ path('app_logout') }}">logout</a></li>
                                    {% else %}
                                    <li class={% if app.request.attributes.get('_route') == 'app_register' %} "activated" {% else %}""{% endif %}><a href="{{ path('app_register') }}">Inscription</a></li>
                                    <li class={% if app.request.attributes.get('_route') == 'app_login' %} "activated" {% else %}""{% endif %}><a href="{{ path('app_login') }}">login</a></li>

                                {% endif %}
                                <li class="navItem"><a href="">Chat</a></li>
                                <li class="navItem"><a href="">Mon Compte</a></li>
                                <li class={% if app.request.attributes.get('_route') == 'app_project' %} "activated" {% else %}""{% endif %}><a href="{{path('app_project')}}">Projets</a></li>
                                <li class={% if app.request.attributes.get('_route') == 'create_project' %} "activated" {% else %}""{% endif %}><a href="{{path('create_project')}}">Créer Projet</a></li>
                                <li class={% if app.request.attributes.get('_route') == 'app_home' %} "activated" {% else %}""{% endif %}><a href="{{ path('app_home') }}">Home</a></li>
                                <li class="navItem"><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                    <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                </div>
                {# <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                        <a href="{{ path('app_home') }}">Home</a>
                        <a href="{{path('create_project')}}">Créer Projet</a>
                        <a href="{{path('app_project')}}">Projets</a>
                        <a href="">Mon Compte</a>
                        <a href="">Chat</a>
                        {% if (app.user) %}
                            <a href="{{ path('app_logout') }}">logout</a>
                        {% else %}
                            <a href="{{ path('app_register') }}">Inscription</a>
                            <a href="{{ path('app_login') }}">login</a>
                        {% endif %}
                    </div>
                  </div> #}
            </header>

            
            {% block body %}{% endblock %}
        
        <footer>
            <div class="row">
                <ul class="list">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_home') }}">Créer Projet</a></li>
                    <li><a href="{{ path('app_home') }}">Projets</a></li>
                </ul>
                <ul class="list">
                    <li><a href="{{ path('app_home') }}">Mon Compte</a></li>
                    <li><a href="{{ path('app_home') }}">Chat</a></li>
                    <li><a href="{{ path('app_home') }}">Connexion</a></li>
                </ul>
                <ul class="list">
                    <li><a href="{{ path('app_home') }}">Mentions légales</a></li>
                    <li><a href="{{ path('app_home') }}">CGU</a></li>
                    <li><a href="{{ path('app_home') }}">Contact</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
