{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="project-form">
        {{form_errors(formProject)}}
        {{form_start(formProject)}}
            <h2> Créez un nouveau projet ou listez tous les projets <a href="{{path('app_project')}}">ICI</a> </h2>
            <div class="col-6">
                <div class="form-row">
                    {{form_label(formProject.title)}}
                    {{form_widget(formProject.title)}}
                </div>
                <div class="form-row">
                    {{form_label(formProject.dateDebut)}}
                    {{form_widget(formProject.dateDebut)}}
                </div>
                <div class="form-row">
                    {{form_label(formProject.dateFin)}}
                    {{form_widget(formProject.dateFin)}}
                </div>
            </div>
            <div class="col-6">
                {{form_widget(formProject.description)}}
            </div>

            
            <div class="col-12">
                <button type="submit" class="btn">
                {% if app.request.attributes.get('_route') == 'edit_project' %}Mettre à jour{% else %}Créer{% endif %}
                </button>
           
            </div>

        </div>
        {{form_end(formProject)}}
    {% else %}
        <div class="demande-connexion">
            <h2>Vous devez être connecté pour créer un projet</h2>
                <a href="{{path('app_login')}}">Se connecter</a>
            <h2>Vous n'avez pas de compte ?</h2>
                <a href="{{path('app_register')}}">S'inscrire</a>
        </div>
    {% endif %}
{% endblock %}