{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
            {% if app.user %}    
            <div class ="list-projects">
                    <form class="projet-form" action="{{ path('create_project') }}" method="post">
                        <button type="submit" class="btn creat-projet">Créer un Projet</button>
                    </form>
                {% for project in projects %}
                <div class="box-row">
                    <div class="list-project-row-1">
                        <div class="col-12">
                            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_PROJECT_MANAGER") %}  
                                <a href="{{path('edit_project', {'id': project.id})}}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                                <a href="{{path('delete_project', {'id': project.id})}}"><img class="delete-bin" src="{{ asset('img/delete-bin.svg') }}"></a>
                            {% endif %}
                                <a href="{{path('show_project', {'id': project.id})}}" >{{ commentCounts[project.id] }} <img class="delete-bin" src="{{ asset('img/icons8-comment.svg') }}"></a>
                                <img class="image" src="{{ asset('img/pertFinderLogo.png') }}" alt="image">
                                <h5><a style="float:left;margin-top:0px;" href="{{path('show_project', {'id': project.id}) }}" >{{project.title}}</a></h5> 
                                <p>Ce Project a été créé par  <a href="{{path('see_user',{'id': project.user.id})}}"> {{project.user}}</a></p>
                           {% if project.comments is empty() %}
                                <p> Pas encore de commentaire dans ce projet </p>
                            {% elseif project.lastComment.user.isDeleted  %}
                                <p> dernier message par un <span style="color:red;">Anonymous</span></p>
                            {% else %}
                                <p> dernier message par <a href="{{path('see_user', {'id': project.lastComment.user.id})}}">{{project.lastComment.user}}</a></p>
                           {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="demande-connexion">
            <h2>Vous devez être connecté pour créer un projet</h2>
                <a href="{{path('app_login')}}">Se connecter</a>
            <h2>Vous n'avez pas de compte ?</h2>
                <a href="{{path('app_register')}}">S'inscrire</a>
        </div>
            {% endif %}
{% endblock %}
