{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    
    <div class="project-container">
        <div class="show-project">
            <h1>{{project.title}}</h1>
            <p>{{project.description}}</p>
            {% if project.diagrams | length == 0 %}
            <p>aucun diagram dans ce projet</p>  
                <p><a href="{{path('create_diagram', {'projectId': project.id})}}">ajouter un diagram</a></p>
                <img src="{{asset('charts/default.png')}}" alt="empty">
            {% endif %}
            {% for chart in project.diagrams %}
                <img src="{{asset('charts/' ~ imgName )}}" alt="diagram">
            {% if app.user == project.user or app.user.roles == 'MANAGER_ROLE' or app.user.role == 'ADMIN_ROLE' %}   
                <h5>Vous pouvez <a href="{{path('new_task', {'diagramId': chart.id})}}" >modifier</a> ce projet</h5>
            {% endif %}
            {% endfor %}
        </div>
    </div>
        <div class="show-comment">
            <h2>Commentaires</h2>
            {% for comment in project.comments %}
                <div class="comment">
                    <img src="{{asset('charts/default.png')}}" alt="avatar">
                    <p>Posté par {{comment.user.username}} - {{comment.getTimeDifference}} </p>
                    <a href="{{path('del_comment', {'commentId': comment.id})}}">Supprimer</a>
                    <p>{{comment.contenu}}</p>
                </div>
            {% endfor %}
            {% if app.user %}
                {{ form_start(formComment) }}
                    {{ form_row(formComment.contenu) }}
                    <button type="submit" class="btn btn-success">Commenter</button>
                {{ form_end(formComment) }}
            
            {% else %}
            <div class="comment-connecxion">
                <p>Vous devez être connecté pour poster un commentaire</p>
                <a href="{{path('app_login')}}">Se connecter</a>
            </div>
            {% endif %}
        </div>

{% endblock %}