{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
{% if not project.diagrams is empty %}
    {% set chart = project.diagrams[0] %}
    {% set zScore = project.calculZScore(projectDuree, chart.duree, chart.variance) %}
    {% set probability = project.calculateProbabilityAndNormalDistribution(zScore) %}
{% endif %}
    
    <div class="project-container container">
        <div class="show-project">
            <section class="project-description">
                {% if app.user == project.user or is_granted("ROLE_PROJECT_MANAGER") %}
                    <a href="{{path('edit_project', {'id': project.id})}}">
                    <img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                {% endif %}
                <h1>{{project.title}}</h1> <span>Ce projet a été créé par</span> 
                <a href="{{path('see_user',{'id': project.user.id})}}">{{project.user.username}}</a>
                le {{project.getCreatedAt|date('d/m/Y')}}
                <p>{{project.description}}</p>
            </section>
            <section class="project-description smaller">
                <div class="diagram-information">
                    <div class="left-column col-3">
                        <span> Durée souhaitée : </span> {{ project.calculNumberDays() }} <span> jours</span><br>
                        {% if project.diagrams is empty %}
                            <span> Durée Estimé : </span> 0 <span> jours</span>
                        {% else %}
                            <span> Durée Estimé : </span> {{ chart.duree }} <span> jours</span><br>
                        {% endif %}
                    </div>
                    <div class="right-column col-3">
                        {% if project.diagrams is empty %}
                            <span> Variance : </span> - <br>
                            <span> Z-Score : </span> - <br>
                        {% else %}
                            
                            <span> Variance : </span> {{ chart.variance }} <br>
                        
                        <span> Z-Score : </span> {{zScore |number_format(3)}}<br>
                        {% endif %}
                        
                    </div>
                </div>
                    <div class="centered">
                        {% if project.diagrams is empty %}
                        <p> pas encore de diagramme pour ce projet</p>
                        {% else %}
                        {% if zScore == 0 %}
                            <p> Le Z-score est exactement 0, cela signifie que le point de données est à la moyenne de la distribution.</p>
                        {% elseif zScore > -2 and zScore < 2 %}
                            <p> Le Z-score est entre -2 et 2, cela signifie que le point de données est dans la distribution <span style="color:green;"> normale.</span></p>
                        {% elseif (zScore >= 2 and zScore < 3) or (zScore <= -2 and zScore > -3) %}
                            <p> Le Z-score est entre 2 et 3 (ou entre -2 et -3), cela indique <span style="color:orange;"> une situation inhabituelle.</span></p>
                        {% elseif zScore >= 3 or zScore <= -3 %}
                            <p> Un Z-score supérieur à 3 (ou inférieur à -3) est généralement considéré comme <span style="color:red;">très inhabituel ou extrême.</span> Veuillez vérifier les données.</p>
                        {% endif %}

                        {% endif %}
                        {% if project.diagrams is empty %}
                        <span> propabilité de complétion : </span> 0 <span> %</span>
                        {% else %}
                        <span> propabilité de complétion : </span> {{probability |number_format(2) }}<span> %</span>
                        {% endif %}
                        <p> pour en savoir plus sur les calculs, cliquez <a href="">ici</a></p>
                    </div>
            </section>

             
            {% if project.diagrams | length == 0 %}
            <section class="add-diagram">
            <h4>aucun diagram dans ce projet</h4>  
                <p><a class="add-chart" href="{{path('create_diagram', {'projectId': project.id})}}">ajouter un diagram</a></p>
            </section>
                    
                <img src="{{asset('charts/default.png')}}" alt="no-diagram-yet">
                {% if app.user == project.user or is_granted("ROLE_PROJECT_MANAGER") %} 
                    {% if not project.isIsLocked %}
                        <a href="{{path('lock_project', {'id': project.id})}}" class="projet-option-btn" >Verrouiller</a>
                    {% else %}
                        <a href="{{path('lock_project', {'id': project.id})}}" class="projet-option-btn" >Déverrouiller</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% for chart in project.diagrams %}
                {% if chart.tasks is empty %}
                    <p style="text-align:center;"> ce diagramme n'a pas de tâches</p>
                    <img src="{{asset('charts/default.png')}}" alt="no-diagram-yet">
                {% else %}
                    <div id="chart-container" class="project-chart-container"></div>
                {% endif %}
                <div class="project-options">
                    {% if app.user == project.user or is_granted("ROLE_PROJECT_MANAGER") %}
                    {% if chart.tasks is empty %}
                        <a href="{{path('new_task', {'diagramId': chart.id})}}" class="projet-option-btn" >Ajouter des Tâches</a>
                    {% else %}
                        <a href="{{path('new_task', {'diagramId': chart.id})}}" class="projet-option-btn" >Modifier</a>
                    {% endif %}

                    {% if not project.isIsLocked %}
                        <a href="{{path('lock_project', {'id': project.id})}}" class="projet-option-btn" >Verrouiller</a>
                    {% else %}
                        <a href="{{path('lock_project', {'id': project.id})}}" class="projet-option-btn" >Déverrouiller</a>
                    {% endif %}
                    <a href="{{path('task_edge', {'diagramId': chart.id})}}" class="projet-option-btn">Visualiser</a>
                    <a href="{{path('cal_dates', {'diagramId': chart.id})}}" class="projet-option-btn">Les dates</a>
                    <a href="{{path('draw_graph', {'diagramId': chart.id})}}" class="projet-option-btn">Téléchargement</a>
                    <a href="{{path('delete_diagram', {'diagramId': chart.id})}}" class="projet-option-btn"
                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce diagramme ?');"
                    >Supprimer</a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
        <div class="show-comment">
            <h2>Commentaires</h2>
            {% for comment in project.comments %}
                <div class="comment">
                {% if comment.user.isDeleted %}
                    <img src="{{asset('img/deleted.jpg')}}" alt="deleted user">
                {% else %}
                    <img src="{{asset('charts/default.png')}}" alt="avatar">
                {% endif %}
                    {% if app.user == comment.user or is_granted("ROLE_MODERATOR") %}
                        {% if not project.isIsLocked %}
                            <a style="float:right;"  href="{{path('del_comment', {'commentId': comment.id})}}"><img class="delete-bin" src="{{ asset('img/delete-bin.svg') }}"></a>
                            <a style="float:right;"  href="{{path('edit_comment', {'id': project.id, 'commentId': comment.id})}}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                        {% endif %}
                    {% endif %}
                    {% if comment.user.isDeleted %}
                        <p>Posté par <a href="{{path('see_user',{'id': comment.user.id})}}"> Anonymous </a> - {{comment.getTimeDifference}} </p>
                        <p style=margin-left:15px;>{{comment.contenu}}</p>
                    {% else %}
                        <p>Posté par <a href="{{path('see_user',{'id': comment.user.id})}}"> {{comment.user.username}}</a> - {{comment.getTimeDifference}} </p>
                        <p style=margin-left:15px;>{{comment.contenu}}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% if app.user %}
                {% if not project.isIsLocked %}
                    {% if app.request.attributes.get('_route') == 'edit_comment' %}
                        <div class="post-comment">
                            {{form_start(formEditComment)}}
                                {{form_widget(formEditComment.contenu)}}
                                {{form_end(formEditComment)}}
                        </div>
                    {% else %}
                        <div class="post-comment">
                            {{form_start(formComment)}}
                            {{form_widget(formComment.contenu)}}
                            {{form_end(formComment)}}
                        </div>
                            
                    {% endif %}
                {% else %}
                    <h2 style="color:red;">Ce projet est verrouillé</h2>
                {% endif %}
            {% else %}
                <div class="comment-connecxion">
                    <p>Vous devez être connecté pour poster un commentaire</p>
                    <a href="{{path('app_login')}}">Se connecter</a>
                </div>
            {% endif %}
        </div>
        <script>
    anychart.onDocumentReady(function () {
	   
        const pertChartData = {{ pertChartData | json_encode | raw }};
        const pertChartDataEdges = {{ pertChartDataEdges | json_encode | raw }};
        // create a PERT chart
        var chart = anychart.pert();

        // set chart data
        chart.data(pertChartData, "asTree", pertChartDataEdges);

        // set the title of the chart
        chart.title("PERT Chart");

        // set the container id for the chart
        chart.container("chart-container");

        // initiate drawing the chart
        chart.draw();
        
        chart.verticalSpacing("20%");
        // get project duration
        var duration = chart.getStat("pertChartProjectDuration");
       
        // set the chart title to show the duration
        chart.title("La durée de ce projet est " + duration + " jours");
        milestones = chart.milestones();
        milestones.normal().fill("#00acc1", 0.7);
        milestones.hovered().fill("#80cbc4");
        milestones.selected().fill("#00acc1");
        milestones.normal().stroke("#90caf9", 1);
        milestones.hovered().stroke("#90caf9", 2);
        milestones.selected().stroke("#90caf9", 4);
    
        });
       
     
</script>

{% endblock %}