{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <p>ProjectController</p>
    <h1>{{project.title}}</h1>
    <p>{{project.description}}</p>
    {% for chart in project.diagrams %}
        <h3>liste des diagram dans ce projet</h3>
    {% if app.user == project.user or app.user.roles == 'MANAGER_ROLE' %}   
        <h5>cliquez pour commencer ajouter les tâches</h5>
        <p> - <a href="{{path('app_task')}}">{{chart.title}}</a> créé par {{chart.user.username}}</p><br>
    {% else %}
        <p> - {{chart.title}} créé par {{chart.user.username}}</p><br> 
    {% endif %}
    {% endfor %}
 
    
{% endblock %}