{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    
    <div class="project-container">
        <div class="show-project">
            <section class="project-description">
                <h1>{{project.title}}</h1>
                <p>{{project.description}}</p>
            </section>
            {% if project.diagrams | length == 0 %}
            <p>aucun diagram dans ce projet</p>  
                <p><a href="{{path('create_diagram', {'projectId': project.id})}}">ajouter un diagram</a></p>
                <img src="{{asset('charts/default.png')}}" alt="empty">
            {% endif %}
            {% for chart in project.diagrams %}
                <img src="{{asset('charts/' ~ imgName )}}" alt="diagram">
            {% if app.user == project.user or is_granted("ROLE_PROJECT_MANAGER") %}   
                <a href="{{path('new_task', {'diagramId': chart.id})}}" class="projet-option-btn" >Modifier</a>
                {% if not project.isIsLocked %}
                    <a href="{{path('lock_project', {'id': project.id})}}" class="projet-option-btn" >Verrouiller</a>
                {% else %}
                    <a href="{{path('lock_project', {'id': project.id})}}" class="projet-option-btn" >Déverrouiller</a>
                {% endif %}
                <a href="{{path('task_edge', {'diagramId': chart.id})}}" class="projet-option-btn">Les dépendances</a>
                <a href="{{path('cal_dates', {'diagramId': chart.id})}}" class="projet-option-btn">Les dates</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
        <div class="show-comment">
            <h2>Commentaires</h2>
            {% for comment in project.comments %}
                <div class="comment">
                {% if comment.user.isDeleted %}
                    <img src="{{asset('img/deleted.jpg')}}" alt="deleted user">
                {% else %}
                    <img src="{{asset('charts/default.png')}}" alt="avatar">
                {% endif %}
                    {% if app.user == comment.user or is_granted("ROLE_MODERATOR") %}
                        {% if not project.isIsLocked %}
                            <a style="float:right;"  href="{{path('del_comment', {'commentId': comment.id})}}"><img class="delete-bin" src="{{ asset('img/delete-bin.svg') }}"></a>
                            <a style="float:right;"  href="{{path('edit_comment', {'id': project.id, 'commentId': comment.id})}}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                        {% endif %}
                    {% endif %}
                    {% if comment.user.isDeleted %}
                        <p>Posté par <a href="{{path('info_user',{'id': comment.user.id})}}"> Anonymous </a> - {{comment.getTimeDifference}} </p>
                        <p style=margin-left:15px;>{{comment.contenu}}</p>
                    {% else %}
                        <p>Posté par <a href="{{path('info_user',{'id': comment.user.id})}}"> {{comment.user.username}}</a> - {{comment.getTimeDifference}} </p>
                        <p style=margin-left:15px;>{{comment.contenu}}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% if app.user %}
                {% if not project.isIsLocked %}
                    {% if app.request.attributes.get('_route') == 'edit_comment' %}
                        <div class="post-comment">
                            {{form_start(formEditComment)}}
                                {{form_widget(formEditComment.contenu)}}
                                {{form_end(formEditComment)}}
                        </div>
                    {% else %}
                        <div class="post-comment">
                            {{form_start(formComment)}}
                            {{form_widget(formComment.contenu)}}
                            {{form_end(formComment)}}
                        </div>
                            
                    {% endif %}
                {% else %}
                    <h2 style="color:red;">Ce projet est verrouillé</h2>
                {% endif %}
            {% else %}
                <div class="comment-connecxion">
                    <p>Vous devez être connecté pour poster un commentaire</p>
                    <a href="{{path('app_login')}}">Se connecter</a>
                </div>
            {% endif %}
        </div>

{% endblock %}