{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class"user-row user-settings-row row">
        <div class ="user-info user-settings col-12">
            <div class="img-div">
                {% if userInfo.isDeleted %}
                    <img src="{{ asset('img/deleted.jpg') }}" alt="deleted-user" class="user-img">
                {% elseif not userInfo.imgName %}
                    <img src="{{ asset('charts/default.png') }}" alt="default-image" class="user-img">
                {% else %}
                    <img src="{{ asset('' ~ userInfo.imgName) }}" alt="user" class="user-img">
                {% endif %}
                {% if app.request.attributes.get('_route') == 'show_user' %}
                <button class="btn-avatar"> <a href="{{ path('change_photo', {'id': userInfo.id}) }}">Change Avatar</a></button>
                {% endif %}
                {# <button class="btn-avatar">Change Avatar</button> #}
                {% if app.request.attributes.get('_route') == 'change_photo' %}
                    
                {{form_start(profilePicForm)}}
                {{form_widget(profilePicForm)}}
                {{form_end(profilePicForm)}}
                {% endif %}
            </div>
            <h1>Salut
            <a href="{{ path('info_user',{'id': viewedId}) }}">
               {{userInfo.username}} !
            </a>
            </h1>
        </div>
        <div class="alert-messages col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
        </div>
        <div class="user-info-container col-12">
            <div class="user-coordonne">
                <table class="user-table">
                    <tr>
                        <th>Pseudo</th>
                        {% if app.request.attributes.get('_route') == 'edit_user_name' %}
                            <td>{{ form_start(userNameForm) }}
                            {{ form_widget(userNameForm) }}
                            {{ form_end(userNameForm) }}
                            </td>
                        {% else %}
                        <td>{{userInfo.username}}
                            {% if app.user.id == viewedId %}
                                
                            <a href="{{ path('edit_user_name',{'id': viewedId}) }}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Email</th>
                        {% if app.request.attributes.get('_route') == 'edit_email' %}
                        <td>
                            {{ form_start(emailForm) }}
                            {{ form_widget(emailForm) }}
                            {{ form_end(emailForm) }}
                        </td>
                        {% else %}
                        <td>{{userInfo.email}}
                        {% if app.user.id == viewedId %}
                            <a href="{{ path('edit_email',{'id': viewedId}) }}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                        {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>PassWord</th>
                        
                        <td>********
                        {% if app.user.id == viewedId %}
                            <a href="{{path('app_forgot_password_request')}}"><img class="edit-pen" src="{{ asset('img/pencil-fill.svg') }}"></a>
                        {% endif %}
                        </td>
                        
                    </tr>
                </table>
                    
            </div>
        </div>
        
    </div>

{% endblock %}
