{% extends 'base.html.twig' %}

{% block title %}recieved message{% endblock %}

{% block body %}
    <div class "container">
       <section class="messages-table">
            <table>
                <thead>
                    <tr>
                        <th>Sujet</th>
                        <th>Utilisateur</th>
                        <th>Email</th>
                        <th>Reçu</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr class="message">
                            <td>{{ message.sujet }}</td>
                            <td>{{ message.user }}</td>
                            <td>{{ message.email }}</td>
                            <td>{{ message.messageTime() }}</td>
                            <td>
                                <a href="{{path('respond_message', {'messageId': message.id})}}"> <button class="answer-button"> Ouvrir</button></a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>

    </div>
{% endblock %}
