{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


    <div class="user-row">
        
        <div class="user-info col-2">
            {% if userInfo.isDeleted %}
                <img src="{{ asset('img/deleted.jpg') }}" alt="user" class="user-img">
            {% elseif not userInfo.imgName %}
                <img src="{{ asset('charts/default.png') }}" alt="user" class="user-img">
            {% else %}
                <img src="{{ asset('' ~ userInfo.imgName) }}" alt="user" class="user-img">
            {% endif %}
        </div>
        <div class="user-info col-8">
            <h1>
            {% if userInfo.isDeleted %}
                Utilisateur supprimé
            {% else %}
            {{ userInfo.username }}
            {% endif %}
        
             🟢 🔴 💬
             </h1>
             
        </div>
    </div>
        <div class="button-container">
            
            <button class="btn" onclick="toggleProjects()">Liste des Projets</button>
            <button class="btn" onclick="toggleComments()">Liste des Commentaires</button>
            <button class="btn" onclick="togglePropos()">À propos de moi</button>
        </div>
        
    <div class="user-row-hidden">
    <div class="user-pro-hidden col-12"  id="projectList" style="display:none;">
        <h2>Projets</h2>
        <ul class="project-list">
            {% if userInfo.projects | length == 0 %}
                <p class="no-content"> Aucun projet pour le moment </p>
            {% else %}
                {% for project in userInfo.projects %}
                    <li>
                        <a href="{{ path('show_project', {'id': project.id}) }}">
                            <cite>{{ project.title }}</cite>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="user-pro-hidden col-12" id="commentList" style="display:none;">
        <h2>Commentaires</h2>
        <ul class="comment-list">
            {% if userInfo.comments | length == 0 %}
                <p class="no-content"> Aucun commentaire pour le moment </p>
            {% else %}
                {% for comment in userInfo.comments %}
                    <li>
                        {{ comment.contenu }} <span> posté </span> {{ comment.getTimeDifference }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="user-pro-hidden col-12" id="aboutMe" style="display:none;">
        <section class="about-me">
        <h2>À propos de moi</h2>
            {% if userInfo.isDeleted %}
                <p>Utilisateur supprimé</p>
            {% elseif not  userInfo.propos %}
                <p>Aucune description pour le moment</p>
            {% else %}
                <p>{{ userInfo.propos }}</p>
            {% endif %}
        </section>
    </div>
</div>




{% endblock %}
