{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


    <div class="user-row">
        
        <div class="user-info col-2">
            {% if userInfo.isDeleted %}
                <img src="{{ asset('img/deleted.jpg') }}" alt="user" class="user-img">
            {% else %}
                <img src="{{ asset('charts/default.png') }}" alt="user" class="user-img">
            {% endif %}
        </div>
        <div class="user-info col-8">
            <h1>
            {% if userInfo.isDeleted %}
                Utilisateur supprimé
            {% else %}
            {{ userInfo.username }}
            {% endif %}
            {% if app.user.id == viewedId %}
            <h3>
             <a href="{{path('show_user', {'id': viewedId})}}">
                <button class="btn-modif">Modifier</button>
              </a>
            </h3>
            
            {% endif %}
             🟢 🔴 💬</h1>
        </div>
    </div>
        <div class="alert-messages col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
        </div>
    <div class="user-row">
        <div class="user-pro col-6">
            <h2>Projets</h2>
            {% if userInfo.projects | length == 0 %}
                <p> Aucun projet pour le moment </p>
            {% else %}
            <ul>
                {% for project in userInfo.projects %}
                    <li> <a href="{{path('show_project', {'id': project.id}) }}" >{{project.title}}</a> </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="user-pro col-6">
            <h2>Commentaires</h2>
            {% if userInfo.comments | length == 0 %}
                <p> Aucun commentaire pour le moment </p>
            {% else %}
            <ul>
                {% for comment in userInfo.comments %}
                    <li>{{ comment.contenu }} <span> posté </span> {{comment.getTimeDifference}} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
    </div>

{% endblock %}
